<div class="page-header">
    <a href ng-click="SaveSection()" class="btn btn-app btn-primary btn-xs radius-4 pull-right" data-original-title="Default" data-rel="tooltip"><i class="ace-icon fa fa-save bigger-120"></i>Save </a>
    <a href="#/Home" class="btn btn-app btn-xs radius-4 pull-right"><i class="ace-icon fa fa-undo bigger-120"></i>Return</a>

    <h1>
        Pages<small>
            <i class="fa fa-angle-double-right"></i>
            manage pages
            <i class="fa fa-angle-double-right"></i>
            create section
        </small>
    </h1>
</div>

<div class="row">
    <div class="col-sm-offset-1 col-sm-7">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> Name </label>
                <div class="col-sm-9">
                    <input class="input-large" type="text" ng-model="section.Name" placeholder="Main menu section name" />
                </div>
            </div>
        </div>
    </div>
</div>