<a href="#/Home" class="btn btn-app btn-xs radius-4 pull-right"><i class="ace-icon fa fa-undo bigger-120"></i>Return</a>

<div class="page-header">
    <h1>
        Applications<small>
            <i class="fa fa-angle-double-right"></i>
            manage applications
            <i class="fa fa-angle-double-right"></i>
            audit
        </small>
    </h1>

    <h2>{{application.Name}}</h2>
</div>

<style>
    input[type=checkbox] {
        -webkit-appearance: none;
        width: 3em;
        height: 1em;
    }

        input[type=checkbox]:after {
            content: 'show▹';
        }

    input.open[type=checkbox]:after {
        content: 'hide▿';
    }
</style>
<div class="row">
    <div class="col-sm-offset-1 col-sm-3">
        <a href="#/Home">Return Home</a>
        <table class="table table-striped table-bordered table-responsive">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Action</th>
                    <th>Username</th>
                    <th>Details</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead><!--ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}"-->
            <tbody>
                <tr ng-class="{info: $first}" ng-repeat="item in auditList">
                    <td>{{item.ID}}</td>
                    <td>{{item.Date | date:'medium'}}</td>
                    <td>{{item.Action}}</td>
                    <td>{{item.Username}}</td>
                    <td>{{item.Details}}</td>
                    <td>
                        <input type="checkbox" ng-model="checked" />
                        <pre pretty-json json="{json: item.Object}" ng-animate="'animate'" ng-show="checked"></pre>
                    </td>
                    <td><a ng-show="!$first" href class="btn btn-warning btn-sm" ng-click="rollBack($index)">RollBack</a></td>
                </tr>
            </tbody>
        </table>
        <a href="#/Home">Return Home</a>
    </div>
</div>
