<a href ng-click="SaveApplication()" class="btn btn-app btn-primary btn-xs radius-4 pull-right" data-original-title="Default" data-rel="tooltip"><i class="ace-icon fa fa-save bigger-120"></i>Save </a>
<a href="#/Home" class="btn btn-app btn-xs radius-4 pull-right"><i class="ace-icon fa fa-undo bigger-120"></i>Return</a>

<div class="page-header">
    <h1>
        Applications<small>
            <i class="fa fa-angle-double-right"></i>
            manage applications
            <i class="fa fa-angle-double-right"></i>
            edit
        </small>
    </h1>

    <h2>Edit '{{application.Name}}' Application</h2>
</div>
<style>
    /* some elements used in demo only */
    .spinner-preview {
        width: 100px;
        height: 100px;
        text-align: center;
        margin-top: 60px;
    }

    .dropdown-preview {
        margin: 0 5px;
        display: inline-block;
    }

        .dropdown-preview > .dropdown-menu {
            display: block;
            position: static;
            margin-bottom: 5px;
        }
</style>
<div class="row">
    <div class="col-sm-offset-1 col-lg-9">
        <div ng-model="tabs.activeTab" bs-tabs="tabs" ng-change="populateEvents(tabs[tabs.activeTab].title)">
        </div>
    </div>
</div>

