<p>Enter basic details about this application.</p>
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right"> Application Name </label>
        <div class="col-sm-9">
            <input class="input-large" type="text" ng-model="application.Name" placeholder="e.g. AbsenceManager" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right"> Display Name (for menus etc.) </label>
        <div class="col-sm-9">
            <input class="input-medium" type="text" ng-model="application.Name" placeholder="e.g. Attendence " />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right"> Icon (for menus etc.) </label>
        <div class="col-sm-9">
            <input class="input-medium" type="text" ng-model="application.Name" placeholder="e.g. fa fa-calendar" />
        </div>
    </div>
</div>