
@{
    ViewBag.Title = "Course Test";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="courseAdminApp">
    <div ng-view></div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-sanitize.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.0.0-rc.4/angular-strap.js"></script>
<script src="~/Scripts/angular-strap.tpl.min.js"></script>
<script src="~/Scripts/ng-prettyjson.js"></script>
<script src="~/Scripts/angular-strap.min.js"></script>
<script src="~/AngularJs/Services/courseServices.js"></script>
<script src="~/AngularJs/Apps/CourseManagement/courseAdminApp.js"></script>