
@{
    ViewBag.Title = "Page Test";
   // Layout = "~/Views/Shared/_LayoutAceAdmin.cshtml";
}

<div ng-app="userAdminApp">
    <div ng-view></div>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.js"></script>
<script type="text/javascript" src="http://code.angularjs.org/1.2.15/angular.js"></script>
<script type="text/javascript" src="https://rawgithub.com/l-lin/angular-datatables/dev/dist/angular-datatables.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-sanitize.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.0.0-rc.4/angular-strap.js"></script>
<script src="~/Scripts/angular-strap.tpl.min.js"></script>
<script src="~/Scripts/ng-prettyjson.js"></script>
<script src="~/Scripts/angular-strap.min.js"></script>





<script src="~/AngularJs/Apps/UserManagement/userAdminApp.js"></script>
<script src="~/AngularJs/Services/userServices.js"></script>