<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="LuceneIndex" value="/App_Data/Lucene/Site/" /><!-- put this in config service?? -->
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.bham.ac.uk" port="25" userName="username" password="password" />
      </smtp>
    </mailSettings>
  </system.net>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="logfile" xsi:type="File" fileName="${basedir}/${date:format=yyyy-MM-dd}-webapi.log" />
      <target name="database" xsi:type="Database" keepConnection="true" useTransactions="false" dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionString="Server=localhost;Database=emotive.cms;Uid=root;Pwd=22bullseye22;Convert Zero Datetime=true;" commandText="INSERT INTO nLog(TimeStamp,Logger,Origin,LogLevel,Message) Values(@TimeStamp,@Logger,@Origin,@LogLevel,@Message);">
        <parameter name="TimeStamp" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}" />
        <parameter name="Logger" layout="${logger}" />
        <parameter name="Origin" layout="${callsite}" />
        <parameter name="LogLevel" layout="${level}" />
        <parameter name="Message" layout="${message}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="database" />
    </rules>
  </nlog>
  <connectionStrings>
    <add name="Logging" connectionString="Data Source=NEVERMORE\SQLEXPRESS;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
    <add name="1" connectionString="Data Source=NEVERMORE\SQLEXPRESS;Integrated Security=True;Initial Catalog=Intramed;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
    <add name="ssasa" connectionString="Data Source=COLMDS-5KPW95J;Initial Catalog=IntramedTest;Integrated Security=True;" />
    <add name="Repositories" connectionString="Server=localhost;Database=emotive.cms;Uid=root;Pwd=22bullseye22;Convert Zero Datetime=true;" />
  </connectionStrings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <httpHandlers>
      <add path="api" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory,ServiceStack" verb="*" />
    </httpHandlers>
    <httpModules>
      <add name="ErrorLogTest" type="eMotive.CMS.Core.Modules.ErrorLogTest, eMotive.CMS, Version=1.0.0.0, Culture=neutral" />
      <add name="EventModule" type="eMotive.CMS.Core.Modules.EventModule, eMotive.CMS, Version=1.0.0.0, Culture=neutral" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  <handlers>
    <add path="api" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory,ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
  </handlers>
  <modules>
    <remove name="FormsAuthenticationModule" />
    <add name="ErrorLogTest" type="eMotive.CMS.Core.Modules.ErrorLogTest, eMotive.CMS, Version=1.0.0.0, Culture=neutral" />
    <add name="EventModule" type="eMotive.CMS.Core.Modules.EventModule, eMotive.CMS, Version=1.0.0.0, Culture=neutral" />
  </modules>
    
  </system.webServer>
</configuration>
